{% extends 'layout.html' %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}">
{% endblock %}
{% block title %}Редактирование новости{% endblock %}
{% block content %}
<h1 class="page-title">Редактирование новости</h1>
<div class="content-box auth-form">
    <form method="post">
        {% csrf_token %}
        <p>
            <label>Название:</label>
            {{ form.title }}
        </p>
        <p>
            <label>Содержание:</label>
            {{ form.content }}
        </p>
        <p>
            <label>Ссылка на изображение:</label>
            {{ form.image_url }}
        </p>
        <button type="submit">Сохранить</button>
    </form>

    {% if form.errors %}
        <div class="form-errors">
            {{ form.errors }}
        </div>
    {% endif %}
</div>
{% endblock %}