{% extends 'layout.html' %}

{% block title %}Смена пароля{% endblock %}
{% block content %}

<h1>Смена пароля</h1>

<form method="post">
    {% csrf_token %}
    <p>
        <label>Текущий пароль:</label><br>
        {{ form.old_password }}
    </p>
    <p>
        <label>Новый пароль:</label><br>
        {{ form.new_password1 }}
    </p>
    <p>
        <label>Подтверждение нового пароля:</label><br>
        {{ form.new_password2 }}
    </p>
    <button type="submit">Сохранить</button>
</form>

{% if form.errors %}
    <div>
        {{ form.errors }}
    </div>
{% endif %}

{% endblock %}